<div class="container-fluid">
  <h2 style="text-align:center">For help, call us at either (805) 452-2283 (Dante Knowles) or (213) 254-7325 (Paul Kim) <br>
Or email us at dknowles@ucsd.edu for techincal support</h2>

  <!--FAQ accordian -->
  <div class="tab-content">
    <div class="tab-pan fad in active" id="faq">
      <div id="accordion" class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">How do I make a post?</a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Click on "New post" on the home page.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">What if I can't find my class?</a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Email us the class and we'll add it on right away!</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">How do I add a class?</a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Click on your username in the navigation bar, then click on "Edit Profile".</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">How do I add more than one class?</a>
            </h4>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Click on your username in the navigation bar, then click on "Edit Profile". In the box listing all the the classes, choose your classes by clicking on one then hold your control button down while clicking on your other classes.</p>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>

</div>


</body>
</html>
